.main_contanier{
    background-color: #1C1C1D;
    height: 100%;
    width: 100%;
    position: absolute;
    display:flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
}
.task1{
    width: 1260px;
    height: 428px;
    border-radius: 24px;
    background-color: #141415;
}

.text_1{
    border-radius: 12px;
    color: white;
}
