.main_contanier{
    background-color: #1C1C1D;
    height: 100%;
    width: 100%;
    position: absolute;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.nomer_zadaniya{
    width: 1,260px;
    height: 428px;
    border-radius: 24px;
    gap: 16px;
    background-color: #141415;
}
.text1{
    color:white;
    font-family: 'Roboto', sans-serif;
}
.text2{
    color:white;
    font-family: 'Roboto', sans-serif;
}